@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  background-color: white !important;
  color: #111827; /* gray-900 */
}

html.dark {
  background-color: #111827 !important;
  color: #f3f4f6 !important; /* gray-100 */
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
